.hero
    background: #f1f1f1 url('../img/hero/hero-bg.jpg') no-repeat right top 
    background-size: auto
    padding-top: 120px
    padding-bottom: 270px
    margin-top: 80px
    //without padding img doessn't appear
    &__title
        font-size: 30px
        margin-bottom: 40px
    &__subtitle
        margin-bottom: 67px
        font-size: 30px
        display: block
        +bold
    &__button
        display: block
@media(max-width: 991px)
    .hero
        background-position:  right 20%
        &>.container
            background-color: rgba(255,255,255,0.6)
            padding: 0.33em 20px 20px 20px
        
    

